<h2>Reactive: Basicos</h2>

<hr>

<!-- error: null :D , error co -->
<div class="row">
    <div class="col">
        <!-- referencia local  -->
        <form (ngSubmit)="guardar()" autocomplete="off" [formGroup]="miFormulario">
            <!-- campo de producto  -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Producto</label>
                <div class="col-sm-9">
                    <!-- angModel -> name gregar el ng model para decirle a angular que los input nos interesa el valor y son parte del formulario -->
                    <input required  formControlName="nombre" type="text" class="form-control" placeholder="Nombre del Producto" >
                    <!-- producto no existe asi que da error al no encontrarlo hasar aque se forme  -->
                    <span *ngIf="campoEsValido('nombre') "class="form-text text-danger"

                    >Debe ser 3 min </span>
                </div>
            </div>
            <!-- .campo de producto  -->

            <!-- precio -->
            <div class="mb-3 row">
                <label  class="col-sm-3  col-form-label">Precio</label>
                <div class="col-sm-9">
                    <input required   formControlName="precio"  type="number" class="form-control" placeholder="Precio del Producto">
                    <span *ngIf="campoEsValido('precio') "  class="form-text text-danger"

                    >El Precio debe ser 0 o mayor  </span>

                </div>


            </div>
            <!-- .precio -->

              <!-- existencias -->
              <div class="mb-3 row">
                <label  class="col-sm-3 col-form-label">Existencias del producto</label>
                <div class="col-sm-9">
                    <input required customMin required
                    formControlName="existencias"  type="number"
                    class="form-control" placeholder="Existencias del Producto">
                    <span *ngIf="campoEsValido('existencias') "  class="form-text text-danger"

                    >El Precio debe ser 0 o mayor  </span>

                </div>
            </div>
            <!-- .existencias -->

            <div class="row">
                <div class="col">

                    <button type="submit"

                    [disabled]="miFormulario.invalid"
                    class="btn left btn-primary">Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col">

        <!-- detecta cambios automaticamente  -->
        <span>Valid</span>
        <pre>{{miFormulario.valid}}</pre>
        <span>Pristine: nose modifico ninguno de los datos desde que se mostro al usuario</span>
        <pre>{{miFormulario.pristine}}</pre>

        <span>Touched: si a tocado el formulario (no inmediatamente)</span>
        <pre>{{miFormulario.touched}}</pre>

        <span>Value</span>
        <pre>{{miFormulario.value |json}}</pre>



    </div>
</div>
